<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include tagmanager.html %}
    {% include header-episode.html %}

</div>

    <div class="slide-menu">
      <h2>{{ site.menu_heading }}</h2>
      <ul class="post-list">
        {% assign pages = site.pages | sort: 'page_rank' %}
        {% for my_page in pages %}
          {% if (my_page.section_title != null) and my_page.type == 'stop' %}
            <li>
              <a class="post-link" href="{{ my_page.url | prepend: site.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.headphones_icon_color }}');">
                <span class="post-item">{{ my_page.stop_id }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
      <div class="jp-gui jp-interface audio-footer-container" data-role="footer" data-position="fixed" data-tap-toggle="false">
        <div class="audio-player">

          <!-- Page title -->
          <div class="player-now-playing">
            <p id="page-title">{{ page.title }}</p>
          </div>

          {% if page.audio_file != null %}
          <div id="jquery_jplayer_1" class="jp-jplayer"></div>
          <div id="episode-element">
            <audio>
              <source id="episode-source" src="{{ site.baseurl }}{{ site.audio_path }}{{ page.audio_file }}" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>

          <div class="jp-progress">
            <div class="jp-seek-bar">
              <div class="jp-play-bar"></div>
            </div>
          </div>

          <div class="jp-no-solution">
            <span>Update Required</span>
            To play audio, be sure to enable JavaScript, and run a browser that supports HTML5 MP3 audio, or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
          </div>
          {% endif %}
          
          <div class="player-buttons">
            <div class="player-buttons-prev">
              {% for my_page in site.pages %}
                {% capture page_rank_lower %}{{my_page.page_rank | plus: 1}}{% endcapture %}
                {% capture existing_page_rank %}{{page.page_rank | plus: 0}}{% endcapture %}
                {% if page_rank_lower == existing_page_rank and my_page.page_rank != null %}
                  <a href="{{ my_page.url | prepend: site.baseurl }}"></a>
                  <span class="player-buttons-prev-number">{{ my_page.stop_id }}</span>
                {% endif %}
              {% endfor %}
            </div>

            {% if page.audio_file != null %}
            <div class="jp-controls" style="display: inline-block; text-align: center;">
              <button class="jp-play" role="button" tabindex="0" style="display: inline-block;"></button>
            </div>
            {% endif %}

            <div class="player-buttons-next">
              {% for my_page in site.pages %}
                {% capture page_rank_higher %}{{my_page.page_rank | minus: 1}}{% endcapture %}
                {% capture existing_page_rank %}{{page.page_rank | plus: 0}}{% endcapture %}
                {% if page_rank_higher == existing_page_rank and my_page.page_rank != null %}
                  <a href="{{ my_page.url | prepend: site.baseurl }}"></a>
                  <span class="player-buttons-next-number">{{ my_page.stop_id }}</span>
                {% endif %}
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </div>
 <script>
      // Initialize language state
      let currentLanguage = 'EN'; // Default language
    let originalParagraphContent = '';
  let originalHeadingContent = '';
  let originalBlockquoteContent = '';
   function saveOriginalContent() {
    const paragraph = document.querySelector('.post-content p');
    if (paragraph) originalParagraphContent = paragraph.textContent;

    const heading = document.querySelector('.post-content h2');
    if (heading) originalHeadingContent = heading.textContent;

    const blockquote = document.querySelector('.post-content blockquote');
    if (blockquote) originalBlockquoteContent = blockquote.innerHTML;
  }

      // Toggle language function
      function changeLanguage() {
        // Get the toggle button element
    const button = document.getElementById('toggle-language');

    // Ensure the button exists before updating
    if (!button) {
      console.error('Toggle language button not found!');
      return;
    }
        const stopId = '{{ page.stop_id }}'; // Dynamically fetch stop_id from the current page's YAML

        if (currentLanguage === 'EN') {
          // Switch to Arabic
          currentLanguage = 'AR';
          document.getElementById('toggle-language').innerHTML = 'AR'; // Update button text to 'EN'

          if (stopId === '1') {
    document.getElementById('page-title').innerHTML = 'وجوه المغرب: نسيج بصري مدهش';

    const sectionTitleElement = document.querySelector('.post-header-section-title');
    if (sectionTitleElement) {
      sectionTitleElement.innerHTML = 'مقدمة'; // New Arabic section title
    }

    const pageTitleElement = document.querySelector('.post-header-title');
    if (pageTitleElement) {
      pageTitleElement.innerHTML = 'وجوه المغرب: نسيج بصري مدهش'; // New Arabic page title
    }

    $('#jquery_jplayer_1').jPlayer('setMedia', {
      mp3: 'https://aldanah-qm.github.io/static-museum-audio-guide/audio/first stop ar.mp3'
    });

    const postContent = document.querySelector('.post-content');
    if (postContent) {
        postContent.style.textAlign = 'justify'; // Justifies the text
        postContent.style.direction = 'rtl'; // Aligns it to the right

      const firstParagraph = postContent.querySelector('p');
      if (firstParagraph) {
        firstParagraph.textContent = 'يستعرض قسم "وجوه المغرب" التفاعل المذهل بين جمال الطبيعة الساحرة للبلاد ونسيجها الاجتماعي المتنوع. من خلال عدسات مصورين أسطوريين مثل إيرفينغ بن وهاري غريويارت، نسترجع عبق الماضي، بينما تضيف أعمال الفنانين المغاربة المعاصرين مثل لالة السعيدي وموس لمباربط عمقًا حديثًا برؤى إبداعية. هذا المعرض يحتفي بتطور السرد الثقافي المغربي من خلال التصوير الفوتوغرافي، مسلطًا الضوء على مناظره الخلابة ومجتمعاته النابضة بالحياة.';
      }

      const heading = postContent.querySelector('h2');
      if (heading) {
        heading.textContent = 'منظور المصورين';
      }
       const blockquote = postContent.querySelector('blockquote');
      if (blockquote) {
            blockquote.innerHTML = '<p>مرحبًا بكم في "وجوه المغرب: الطبيعة والمجتمع". هنا نغوص في تمازج الطبيعة الخلابة للمغرب مع حيويته المجتمعية، كما التُقطت بعدسات مصورين أيقونيين مثل إيرفينغ بن وهاري غريويارت. إلى جانبهم، يعكس الفنانون المغاربة المعاصرون مثل لالة السعيدي وموس لمباربط تطور السرد الثقافي المغربي. يعمل التصوير الفوتوغرافي كجسر يربط بين الطبيعة والناس، ليخلق شهادة بصرية تثري الذاكرة الجماعية لتاريخ المغرب الغني وتنوعه الثقافي.</p>';
            blockquote.style.fontStyle = 'italic'; // Make the text italic
        }

    }

    console.log(`Changes applied for stop ID ${stopId}`);
  } else {
    console.log(`No changes applied. Current stop ID: ${stopId}`);
  }
        if (stopId === '2') {
    document.getElementById('page-title').innerHTML = 'روح المغرب: الملوك والأولياء والعلماء';

    const sectionTitleElement = document.querySelector('.post-header-section-title');
    if (sectionTitleElement) {
      sectionTitleElement.innerHTML = 'الدين والسلالات الحاكمة'; // New Arabic section title
    }

    const pageTitleElement = document.querySelector('.post-header-title');
    if (pageTitleElement) {
      pageTitleElement.innerHTML = 'روح المغرب: الملوك والأولياء والعلماء'; // New Arabic page title
    }

    $('#jquery_jplayer_1').jPlayer('setMedia', {
      mp3: 'https://aldanah-qm.github.io/static-museum-audio-guide/audio/second stop ar 2.mp3'
    });

    const postContent = document.querySelector('.post-content');
    if (postContent) {
        postContent.style.textAlign = 'justify'; // Justifies the text
        postContent.style.direction = 'rtl'; // Aligns it to the right

      const firstParagraph = postContent.querySelector('p');
      if (firstParagraph) {
        firstParagraph.textContent = 'يسلط هذا القسم الضوء على الجذور الروحية والسياسية للمغرب، المتجذرة في عهد الدولة الإدريسية. لقد شكّلت العلاقة الوثيقة بين الإسلام والسلطة هوية المغرب التاريخية والثقافية، حيث لعبت كل من فاس ومراكش دورًا محوريًا كمراكز للعلم والتقوى. تعكس المعالم المعمارية في هاتين المدينتين، من المساجد إلى المدارس، قرونًا من الازدهار العلمي والروحي، مسطرة بذلك حقبة ذهبية في تاريخ المغرب.';
      }

      const heading = postContent.querySelector('h2');
      if (heading) {
        heading.textContent = 'أصوات الإرث الروحي';
      }
       const blockquote = postContent.querySelector('blockquote');
      if (blockquote) {
            blockquote.innerHTML = '<p>نغوص هنا في السلالة التاريخية والروحية للمغرب، التي تبدأ بإرث الدولة الإدريسية، أول سلالة إسلامية في المنطقة. تمتد هذه السلالة، التي تشمل الملك الحالي محمد السادس، إلى النبي محمد عبر السيدة فاطمة الزهراء. ازدهرت المراكز الدينية في فاس ومراكش كمحطات أساسية للبحث الروحي والمعرفي، مما رسم ملامح العصر الذهبي للهوية الثقافية المغربية. من المساجد إلى المدارس، تحمل هذه المعالم بين طياتها قرونًا من التفاني والإنجاز العلمي.</p>';
            blockquote.style.fontStyle = 'italic'; // Make the text italic
        }

    }

    console.log(`Changes applied for stop ID ${stopId}`);
  } else {
    console.log(`No changes applied. Current stop ID: ${stopId}`);
  }
      if (stopId === '3') {
    document.getElementById('page-title').innerHTML = 'الأضرحة والملوك';

    const sectionTitleElement = document.querySelector('.post-header-section-title');
    if (sectionTitleElement) {
      sectionTitleElement.innerHTML = 'الإيمان والسلطة في المغرب'; // New Arabic section title
    }

    const pageTitleElement = document.querySelector('.post-header-title');
    if (pageTitleElement) {
      pageTitleElement.innerHTML = 'الأضرحة والملوك'; // New Arabic page title
    }

    $('#jquery_jplayer_1').jPlayer('setMedia', {
      mp3: 'https://aldanah-qm.github.io/static-museum-audio-guide/audio/third stop ar.mp3'
    });

    const postContent = document.querySelector('.post-content');
    if (postContent) {
        postContent.style.textAlign = 'justify'; // Justifies the text
        postContent.style.direction = 'rtl'; // Aligns it to the right

      const firstParagraph = postContent.querySelector('p');
      if (firstParagraph) {
        firstParagraph.textContent = 'ظل الإيمان والسلطة متداخلين بعمق في تاريخ المغرب، مشكلين معًا معالمه الدينية والسياسية. تعكس مواقع الدفن الملكية مثل ضريح المولى إدريس الثاني ومقابر السعديين هذا الترابط الفريد. ويُبرز فن هذه المواقع القيم الروحية والسياسية التي اعتنقها حكام المغرب، مسلطًا الضوء على تأثيرهم الدائم على تراث الأمة.';
      }

      const heading = postContent.querySelector('h2');
      if (heading) {
        heading.textContent = 'رواة السُلطة';
      }
       const blockquote = postContent.querySelector('blockquote');
      if (blockquote) {
            blockquote.innerHTML = '<p>يستعرض هذا القسم العلاقة العميقة بين حكام المغرب وإرثه الديني. من ضريح المولى إدريس الثاني في فاس إلى مقابر السعديين في مراكش، تجسد هذه المواقع الجنائزية تلاحم الإيمان والسلطة بشكل متقن. تكشف الحرفية والنقوش التي تزين هذه المعالم عن الأهمية البالغة التي أولاها الحكام للسلطة الدينية والسياسية. كل قطعة فنية هنا تُعد شهادة تاريخية على الإرث الروحي والثقافي الذي ما زال يشكّل ملامح المغرب حتى اليوم.</p>';
            blockquote.style.fontStyle = 'italic'; // Make the text italic
        }

    }

    console.log(`Changes applied for stop ID ${stopId}`);
  } else {
    console.log(`No changes applied. Current stop ID: ${stopId}`);
  }  
        if (stopId === '4') {
    document.getElementById('page-title').innerHTML = 'العلم وصناعة المخطوطات في المغرب';

    const sectionTitleElement = document.querySelector('.post-header-section-title');
    if (sectionTitleElement) {
      sectionTitleElement.innerHTML = 'حماة المعرفة'; // New Arabic section title
    }

    const pageTitleElement = document.querySelector('.post-header-title');
    if (pageTitleElement) {
      pageTitleElement.innerHTML = 'العلم وصناعة المخطوطات في المغرب'; // New Arabic page title
    }

    $('#jquery_jplayer_1').jPlayer('setMedia', {
      mp3: 'https://aldanah-qm.github.io/static-museum-audio-guide/audio/fourth stop ar.mp3'
    });

    const postContent = document.querySelector('.post-content');
    if (postContent) {
        postContent.style.textAlign = 'justify'; // Justifies the text
        postContent.style.direction = 'rtl'; // Aligns it to the right

      const firstParagraph = postContent.querySelector('p');
      if (firstParagraph) {
        firstParagraph.textContent = 'امتدت إسهامات المغرب العلمية لتشمل الفقه الإسلامي، وعلم الكلام، والعلوم الطبيعية، مع تصدر فاس ومراكش المشهد العلمي. احتضنت مكتبات هاتين المدينتين مخطوطات لا تقدر بثمن، تجسيدًا لالتزام المغرب بحفظ المعرفة. ومن أبرز المعروضات هنا الجزء الأخير من مصحف مكون من 30 مجلدًا، تحفة فنية تعكس روح الإبداع والتفاني التي تميز الإرث الفكري المغربي.';
      }

      const heading = postContent.querySelector('h2');
      if (heading) {
        heading.textContent = 'حراس العلم';
      }
       const blockquote = postContent.querySelector('blockquote');
      if (blockquote) {
            blockquote.innerHTML = '<p>كانت فاس ومراكش بمثابة مركزين للتميز العلمي، حيث شهدتا تطورات رائدة في الفقه الإسلامي، وعلم الكلام، والعلوم. احتضنت هاتان المدينتان مكتبات ومؤسسات علمية حافظت على الإرث الفكري، وأسهمت في إنتاج مخطوطات مصنوعة بعناية فائقة. ستجد هنا قسمًا رائعًا من مصحف مكون من 30 مجلدًا، شهادة حية على الإرث الفني والعلمي للمغرب في العصور الوسطى. ولا تزال هذه التقاليد العلمية وحفظ المعرفة جزءًا أساسيًا من الهوية المغربية حتى يومنا هذا.</p>';
            blockquote.style.fontStyle = 'italic'; // Make the text italic
        }

    }

    console.log(`Changes applied for stop ID ${stopId}`);
  } else {
    console.log(`No changes applied. Current stop ID: ${stopId}`);
  }  
         if (stopId === '5') {
    document.getElementById('page-title').innerHTML = 'رحلة في عالم الموسيقى المغربية';

    const sectionTitleElement = document.querySelector('.post-header-section-title');
    if (sectionTitleElement) {
      sectionTitleElement.innerHTML = 'الأصوات التقليدية للمغرب'; // New Arabic section title
    }

    const pageTitleElement = document.querySelector('.post-header-title');
    if (pageTitleElement) {
      pageTitleElement.innerHTML = 'رحلة في عالم الموسيقى المغربية'; // New Arabic page title
    }

    $('#jquery_jplayer_1').jPlayer('setMedia', {
      mp3: 'https://aldanah-qm.github.io/static-museum-audio-guide/audio/fifth stop ar.mp3'
    });

    const postContent = document.querySelector('.post-content');
    if (postContent) {
        postContent.style.textAlign = 'justify'; // Justifies the text
        postContent.style.direction = 'rtl'; // Aligns it to the right

      const firstParagraph = postContent.querySelector('p');
      if (firstParagraph) {
        firstParagraph.textContent = 'تمتزج الموسيقى المغربية بطريقة فريدة تجمع بين التأثيرات العربية، الأمازيغية، الأندلسية، المتوسطية، والإفريقية. تُعد الموسيقى الأندلسية، المعروفة بـالآلة، واحدة من أبرز الأنماط الموسيقية في مدن فاس، مكناس، الرباط-سلا، تطوان، وطنجة. لعبت هذه المدن دورًا محوريًا في الحفاظ على هذا الفن وتعزيزه، مما أسهم في إثراء الإرث الموسيقي المغربي. يعكس هذا النسيج الفني تنوع المغرب الثقافي وعمقه، وهو إرث يحتفى به حتى اليوم.';
      }

      const heading = postContent.querySelector('h2');
      if (heading) {
        heading.textContent = 'أصداء المغرب';
      }
       const blockquote = postContent.querySelector('blockquote');
      if (blockquote) {
            blockquote.innerHTML = '<p>يعكس التراث الموسيقي المغربي تنوع مناطقه، بدءًا من رقصات الرڭادة بالبندقيات في منطقة الريف، مرورًا بـأحواش وأحيدوس في جبال الأطلس، بما في ذلك رقصة الرݣاصات الفريدة. وفي الصحراء، تحافظ الطرق الصوفية على تقاليد عريقة من خلال أنماط مثل ݣناوة، الحسانية، والݣدرة. كما تثري الموسيقى الشعبية الاحتفالات المغربية، مجسدة روحها الثقافية العريقة.</p>';
            blockquote.style.fontStyle = 'italic'; // Make the text italic
        }

    }

    console.log(`Changes applied for stop ID ${stopId}`);
  } else {
    console.log(`No changes applied. Current stop ID: ${stopId}`);
  } 

          // Add cases for other stop IDs as needed
        } else {
          // Switch to English
          currentLanguage = 'EN';
          document.getElementById('toggle-language').innerHTML = 'EN'; // Update button text to 'AR'
          document.getElementById('page-title').innerHTML = '{{ page.title }}';
          const sectionTitleElement = document.querySelector('.post-header-section-title');
          if (sectionTitleElement) sectionTitleElement.innerHTML = '{{ page.section_title }}'; // Default YAML
          const pageTitleElement = document.querySelector('.post-header-title');
          if (pageTitleElement) pageTitleElement.innerHTML = '{{ page.title }}'; // Default YAML
          $('#jquery_jplayer_1').jPlayer('setMedia', {
            mp3: '{{ site.baseurl }}{{ site.audio_path }}{{ page.audio_file }}',
          });
          const postContent = document.querySelector('.post-content');
          if (postContent) {
            const firstParagraph = postContent.querySelector('p');
        if (firstParagraph) firstParagraph.textContent = originalParagraphContent; // Restore original English content

        const heading = postContent.querySelector('h2');
        if (heading) heading.textContent = originalHeadingContent; // Restore original English content

        const blockquote = postContent.querySelector('blockquote');
        if (blockquote) blockquote.innerHTML = originalBlockquoteContent; // Restore original English content
            }
          }
        }
      }
// Add the toggle button to a persistent part of the DOM
  window.onload = function () {
    // Create the toggle button
    const button = document.createElement('button');
    button.id = 'toggle-language';
    button.style = `
      position: fixed;
      top: 10px;
      right: 10px;
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
      z-index: 1000;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 5px;
    `;
    button.innerHTML = 'EN'; // Default to Arabic
    button.addEventListener('click', changeLanguage); // Add click event
    document.body.appendChild(button); // Append to the body
  };
      
    </script>

  </body>

</html>
