<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include tagmanager.html %}
    {% include header-episode.html %}

<div style="position: relative;">
  <button 
    id="toggle-language-btn" 
    style="position: absolute; top: 70px; right: 110px; padding: 10px 10px; font-size: 13px; border: 1px solid #ccc; border-radius: 5px; background-color: #f0f0f0; cursor: pointer; transition: background-color 0.3s ease;" 
    onclick="changeLanguage()"
  >
    AR
  </button>
</div>

    <div class="slide-menu">
      <h2>{{ site.menu_heading }}</h2>
      <ul class="post-list">
        {% assign pages = site.pages | sort: 'page_rank' %}
        {% for my_page in pages %}
          {% if (my_page.section_title != null) and my_page.type == 'stop' %}
            <li>
              <a class="post-link" href="{{ my_page.url | prepend: site.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.headphones_icon_color }}');">
                <span class="post-item">{{ my_page.stop_id }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
      <div class="jp-gui jp-interface audio-footer-container" data-role="footer" data-position="fixed" data-tap-toggle="false">
        <div class="audio-player">

          <!-- Page title -->
          <div class="player-now-playing">
            <p id="page-title">{{ page.title }}</p>
          </div>

          {% if page.audio_file != null %}
          <div id="jquery_jplayer_1" class="jp-jplayer"></div>
          <div id="episode-element">
            <audio>
              <source id="episode-source" src="{{ site.baseurl }}{{ site.audio_path }}{{ page.audio_file }}" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>

          <div class="jp-progress">
            <div class="jp-seek-bar">
              <div class="jp-play-bar"></div>
            </div>
          </div>

          <div class="jp-no-solution">
            <span>Update Required</span>
            To play audio, be sure to enable JavaScript, and run a browser that supports HTML5 MP3 audio, or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
          </div>
          {% endif %}
          
          <div class="player-buttons">
            <div class="player-buttons-prev">
              {% for my_page in site.pages %}
                {% capture page_rank_lower %}{{my_page.page_rank | plus: 1}}{% endcapture %}
                {% capture existing_page_rank %}{{page.page_rank | plus: 0}}{% endcapture %}
                {% if page_rank_lower == existing_page_rank and my_page.page_rank != null %}
                  <a href="{{ my_page.url | prepend: site.baseurl }}"></a>
                  <span class="player-buttons-prev-number">{{ my_page.stop_id }}</span>
                {% endif %}
              {% endfor %}
            </div>

            {% if page.audio_file != null %}
            <div class="jp-controls" style="display: inline-block; text-align: center;">
              <button class="jp-play" role="button" tabindex="0" style="display: inline-block;"></button>
            </div>
            {% endif %}

            <div class="player-buttons-next">
              {% for my_page in site.pages %}
                {% capture page_rank_higher %}{{my_page.page_rank | minus: 1}}{% endcapture %}
                {% capture existing_page_rank %}{{page.page_rank | plus: 0}}{% endcapture %}
                {% if page_rank_higher == existing_page_rank and my_page.page_rank != null %}
                  <a href="{{ my_page.url | prepend: site.baseurl }}"></a>
                  <span class="player-buttons-next-number">{{ my_page.stop_id }}</span>
                {% endif %}
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </div>

    <script>
    const toggleButton = document.createElement('button');
  toggleButton.id = 'toggle-language';
  toggleButton.style = 'background: none; border: none; font-size: 25px; cursor: pointer; margin-left: auto;';
  toggleButton.title = 'Toggle Language';
  toggleButton.innerHTML = '🌐';

  const sectionTitleContainer = document.querySelector('.post-header-section-title');
  if (sectionTitleContainer) {
    sectionTitleContainer.appendChild(toggleButton);
  } else {
    console.error("Element '.post-header-section-title' not found. Appending to '.audio-player' instead.");
    document.querySelector('.audio-player').appendChild(toggleButton);
  }

  // Add onclick event
  toggleButton.onclick = function () {
    changeLanguage(); // Call changeLanguage function on click
  };
  if (stopId === '1') {
    // Change the content of the page title to Arabic for stop ID 1
    document.getElementById('page-title').innerHTML = 'وجوه المغرب: نسيج بصري مدهش';

    // Change the section title
    const sectionTitleElement = document.querySelector('.post-header-section-title');
    if (sectionTitleElement) {
        sectionTitleElement.innerHTML = 'مقدمة'; // New Arabic section title
    }

    // Change the page title
    const pageTitleElement = document.querySelector('.post-header-title');
    if (pageTitleElement) {
        pageTitleElement.innerHTML = 'وجوه المغرب: نسيج بصري مدهش'; // New Arabic page title
    }

    // Update the audio in the custom player for stop ID 1
    $('#jquery_jplayer_1').jPlayer('setMedia', {
        mp3: 'https://aldanah-qm.github.io/static-museum-audio-guide/audio/first stop ar.mp3'
    });

    const postContent = document.querySelector('.post-content');
    if (postContent) {
        postContent.style.textAlign = 'justify'; // Justifies the text
        postContent.style.direction = 'rtl'; // Aligns it to the right

        // Update the first <p> tag
        const firstParagraph = postContent.querySelector('p');
        if (firstParagraph) {
            firstParagraph.textContent = 'يستعرض قسم "وجوه المغرب" التفاعل المذهل بين جمال الطبيعة الساحرة للبلاد ونسيجها الاجتماعي المتنوع. من خلال عدسات مصورين أسطوريين مثل إيرفينغ بن وهاري غريويارت، نسترجع عبق الماضي، بينما تضيف أعمال الفنانين المغاربة المعاصرين مثل لالة السعيدي وموس لمباربط عمقًا حديثًا برؤى إبداعية. هذا المعرض يحتفي بتطور السرد الثقافي المغربي من خلال التصوير الفوتوغرافي، مسلطًا الضوء على مناظره الخلابة ومجتمعاته النابضة بالحياة.';
        }

        // Update the first <h2> tag
        const heading = postContent.querySelector('h2');
        if (heading) {
            heading.textContent = 'منظور المصورين';
        }

        // Select and modify the <blockquote> element
        const blockquote = postContent.querySelector('blockquote');
        if (blockquote) {
            blockquote.innerHTML = '<p>مرحبًا بكم في "وجوه المغرب: الطبيعة والمجتمع". هنا نغوص في تمازج الطبيعة الخلابة للمغرب مع حيويته المجتمعية، كما التُقطت بعدسات مصورين أيقونيين مثل إيرفينغ بن وهاري غريويارت. إلى جانبهم، يعكس الفنانون المغاربة المعاصرون مثل لالة السعيدي وموس لمباربط تطور السرد الثقافي المغربي. يعمل التصوير الفوتوغرافي كجسر يربط بين الطبيعة والناس، ليخلق شهادة بصرية تثري الذاكرة الجماعية لتاريخ المغرب الغني وتنوعه الثقافي.</p>';
            blockquote.style.fontStyle = 'italic'; // Make the text italic
        }
    }
    console.log(`Changes applied for stop ID ${stopId}`);
} else if (stopId === '2') {
    // Change the content for stop ID 2
    document.getElementById('page-title').innerHTML = 'اكتشاف المغرب: رحلة بصرية';

    // Change the section title
    const sectionTitleElement = document.querySelector('.post-header-section-title');
    if (sectionTitleElement) {
        sectionTitleElement.innerHTML = 'استكشاف'; // New Arabic section title
    }

    // Change the page title
    const pageTitleElement = document.querySelector('.post-header-title');
    if (pageTitleElement) {
        pageTitleElement.innerHTML = 'اكتشاف المغرب: رحلة بصرية'; // New Arabic page title
    }

    // Update the audio in the custom player for stop ID 2
    $('#jquery_jplayer_1').jPlayer('setMedia', {
        mp3: 'https://aldanah-qm.github.io/static-museum-audio-guide/audio/second stop ar.mp3'
    });

    const postContent = document.querySelector('.post-content');
    if (postContent) {
        postContent.style.textAlign = 'justify'; // Justifies the text
        postContent.style.direction = 'rtl'; // Aligns it to the right

        // Update the first <p> tag
        const firstParagraph = postContent.querySelector('p');
        if (firstParagraph) {
            firstParagraph.textContent = 'في "اكتشاف المغرب"، نقدم رحلة عبر طبيعة البلاد الرائعة وثقافتها المتنوعة. من خلال عدسات المصورين والفنانين المغاربة، نسافر عبر الزمن لتسليط الضوء على التراث الغني والتطور الثقافي المتواصل.';
        }

        // Update the first <h2> tag
        const heading = postContent.querySelector('h2');
        if (heading) {
            heading.textContent = 'رحلة المصورين';
        }

        // Select and modify the <blockquote> element
        const blockquote = postContent.querySelector('blockquote');
        if (blockquote) {
            blockquote.innerHTML = '<p>تعكس هذه الصور التنوع الغني للمجتمعات المغربية، وتوثق الجمال الذي يجمع بين الطبيعة والثقافة، مما يجعل التصوير الفوتوغرافي وسيلة لتقريب المسافات الثقافية.</p>';
            blockquote.style.fontStyle = 'italic'; // Make the text italic
        }
    }
    console.log(`Changes applied for stop ID ${stopId}`);
} else {
    console.log(`No changes applied. Current stop ID: ${stopId}`);
}
}
    </script>

  </body>

</html>
